<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec6d55e1-0d0b-4ad6-9b8d-33f874478b45" Alias="Contacts - Name - Textbox" Level="1">
  <Info>
    <Name>Contacts - Name - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>