<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2dbb87a2-244a-41d5-abad-6c6bb159dfcc" Alias="Contacts - Email - Textbox" Level="1">
  <Info>
    <Name>Contacts - Email - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>