<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a73d6773-6e8e-4542-8905-9e54219cb978" Alias="Contacts - Message - Textarea" Level="1">
  <Info>
    <Name>Contacts - Message - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>