<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6ce5636-4366-4053-8ba1-47368111ba71" Alias="Email address (1)" Level="1">
  <Info>
    <Name>Email address (1)</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>