<?xml version="1.0" encoding="utf-8"?>
<DataType Key="84799c4d-2ecb-431f-8b0c-609bee8533e0" Alias="Email" Level="1">
  <Info>
    <Name>Email</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>