<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e27866d-8d4a-4ce5-897d-00940f30cbe8" Alias="Email address" Level="1">
  <Info>
    <Name>Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>