<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14932846-0c85-4a54-95ed-cc023d4e1a48" Alias="Home Adress" Level="1">
  <Info>
    <Name>Home Adress</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>