<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bdd1e718-27a5-4130-94eb-249087cb81f5" Alias="Medical Specialization" Level="1">
  <Info>
    <Name>Medical Specialization</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>