<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a07af21d-4a6e-45f3-9b48-4b94c51f3034" Alias="RegistrationPage - Phone - Textbox" Level="1">
  <Info>
    <Name>RegistrationPage - Phone - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>