<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fad756f9-b143-493f-bef4-a8bd1a9cc78f" Alias="RegistrationPage - PersonName - Textbox" Level="1">
  <Info>
    <Name>RegistrationPage - PersonName - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>