<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8f4f4ed4-a7d3-4d7d-9e9e-1db2234f3be0" Alias="RegistrationPage - address - Numeric" Level="1">
  <Info>
    <Name>RegistrationPage - address - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 5,
  "step": 1,
  "max": 99
}]]></Config>
</DataType>