<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bca6ffde-ef21-489c-953c-780df235bdbc" Alias="RegistrationPage - Address - Textbox" Level="1">
  <Info>
    <Name>RegistrationPage - Address - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>