<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2535b20-62b0-4c4e-9e48-08b29e6b7fe4" Alias="RegistrationPage - Textbox" Level="1">
  <Info>
    <Name>RegistrationPage - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>