<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89c113ef-aa9b-4f48-9d3b-0cb479054f88" Alias="RegistrationPage - Dropdown" Level="1">
  <Info>
    <Name>RegistrationPage - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Постачальник"
    },
    {
      "id": 2,
      "value": "Благодійник"
    },
    {
      "id": 3,
      "value": "Волонтер"
    },
    {
      "id": 4,
      "value": "Лікар резерву"
    }
  ]
}]]></Config>
</DataType>