<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e9d7f60-4375-4659-9f3e-4c45749e5a14" Alias="RegistrationPage - PhoneNumber - Textbox (1)" Level="1">
  <Info>
    <Name>RegistrationPage - PhoneNumber - Textbox (1)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>