<?xml version="1.0" encoding="utf-8"?>
<DataType Key="71fc530d-dd70-4def-8160-3de2558c2c42" Alias="RegistrationPage - Description - Textarea" Level="1">
  <Info>
    <Name>RegistrationPage - Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>