<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6373aff4-c3be-48f9-a4b6-5c3acbab36d4" Alias="RegistrationPage - Email address" Level="1">
  <Info>
    <Name>RegistrationPage - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>