<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5d95f0e0-1ce7-4cc8-a8c4-6532c1bf827f" Alias="Textarea (3)" Level="1">
  <Info>
    <Name>Textarea (3)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>