<?xml version="1.0" encoding="utf-8"?>
<DataType Key="afa4092b-4e36-4722-aff4-470de6fb41c1" Alias="Textarea (2)" Level="1">
  <Info>
    <Name>Textarea (2)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>