<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c468e1f-80c9-4b06-9c72-5766f8e50cd2" Alias="TextAria" Level="1">
  <Info>
    <Name>TextAria</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>