<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53f9f1c9-fe2c-4495-8aec-a4012f634173" Alias="Textarea (1)" Level="1">
  <Info>
    <Name>Textarea (1)</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null,
  "Rows": null
}]]></Config>
</DataType>