<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b13ae7d6-ba17-4363-aaf5-b4c5048938bc" Alias="Textbox" Level="1">
  <Info>
    <Name>Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>