<?xml version="1.0" encoding="utf-8"?>
<DataType Key="274373a2-258a-46ce-a3da-27e4315e0a05" Alias="Your Age" Level="1">
  <Info>
    <Name>Your Age</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>