@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<!-- Header -->
@Html.Partial("Navigation", Model);
<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">
        <div>
            @Model.RTecontent
        </div>
    </div>
    <!-- Form -->
    <section>
        <h3>Контактна форма</h3>
        <form method="post" name="contactForm" id="contactForm">
            <div class="row uniform 50%">
                <div class="6u 12u$(xsmall)">
                    <input type="text" name="name" id="name" value="" placeholder="Name" />
                </div>
                <div class="6u$ 12u$(xsmall)">
                    <input type="email" name="email" id="email" value="" placeholder="Email" />
                </div>
                <div class="12u$">
                    <div class="select-wrapper">
                        <select name="category" id="category">
                            <option value="">- Category -</option>
                            <option value="Manufacturing">Manufacturing</option>
                            <option value="Shipping">Shipping</option>
                            <option value="Administration">Administration</option>
                            <option value="Human Resources">Human Resources</option>
                        </select>
                    </div>
                </div>
                <div class="12u$">
                    <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
                </div>
                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="special" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </section>
</section>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
        $("#contactForm").on("submit", function (event) {
            var contactName = $('#name').val();
            if (contactName == '') {
                alert("Name is required!");
                return false;
            }
            var contactEmail = $('#email').val();
            if (contactEmail == '') {
                alert("Email address in not valid!");
                return false;
            }
            var contactMessage = $('#message').val();
            if (contactMessage == '') {
                alert("Message is required!");
                return false;
            }
            var contactCategory = $('#category').val();
            if (contactCategory == '') {
                alert("Category is required!");
                return false;
            }
            var jqxhr = $.post("/umbraco/api/ContactApi/CreateContactRequest", { "ContactEmail": contactEmail, "ContactMessage": contactMessage, "ContactName": contactName, "ContactCategory" : contactCategory })
                    .done(function() {
                        alert( "Contact sent" );
                    })
                    .fail(function() {
                        alert( "Error when sending contact" );
                    });
            event.preventDefault();
        });
</script>