@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<!-- Header -->
@Html.Partial("Navigation", Model)
<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">
        <div>
            @Model.RTecontent
        </div>
    </div>
    <!-- Form -->
    <section>
        <h3>Контактна форма</h3>
        <form method="post" name="contactForm" id="contactForm">
            <div class="row uniform 50%">
                <div class="6u 12u$(xsmall)">
                    <input type="text" name="contactName" id="name" value="" placeholder="Ім'я" />
                </div>
                <div class="6u$ 12u$(xsmall)">
                    <input type="email" name="contactEmail" id="email" value="" placeholder="Email" />
                </div>
                <div class="12u$">
                    <textarea name="contactMessage" id="message" placeholder="Ваше повідомлення" rows="6"></textarea>
                </div>
                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" value="Надіслати повідомлення" class="special" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </section>
</section>

@section ChildScripts {
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
    <script>
        var requiredFieldMsg = "Це поле обов'язкове";
        var validEmailMsg = "Будь ласка введіть валідний email";
        var form$ = $("#contactForm");

        form$.validate({
            rules: {
                contactName: "required",
                contactEmail: {
                    required: true,
                    email: true
                },
                contactMessage: 'required'
            },
            messages: {
                contactName: {
                    required: requiredFieldMsg
                },
                contactEmail: {
                    required: requiredFieldMsg,
                    email: validEmailMsg
                },
                contactMessage: {
                    required: requiredFieldMsg
                }
            },
            submitHandler: function () {
                $.ajax({
                    type: "POST",
                    url: "/umbraco/api/Contact/CreateContactRequest",
                    data: form$.serialize()
                }).done(function () {
                    alert("Контактна форма відправлена!");
                    form$.trigger('reset');
                });
            }
        });


    </script>
}

