@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<!-- Header -->
@Html.Partial("Navigation", Model)
<!-- Main -->
<section id="main" class="wrapper">
    <div class="container">
        <div>
            @Model.RTecontent
        </div>
    </div>
    <!-- Form -->
    <section>
        <h3>Контактна форма</h3>
        <form method="post" name="contactForm" id="contactForm">
            <div class="row uniform 50%">
                <div class="6u 12u$(xsmall)">
                    <input type="text" name="name" id="name" value="" placeholder="Ім'я" />
                </div>
                <div class="6u$ 12u$(xsmall)">
                    <input type="email" name="email" id="email" value="" placeholder="Email" />
                </div>
                <div class="12u$">
                    <textarea name="message" id="message" placeholder="Ваше повідомлення" rows="6"></textarea>
                </div>
                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" value="Надіслати повідомлення" class="special" /></li>
                        <li><input type="reset" value="Очистити" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </section>
</section>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
        $("#contactForm").on("submit", function (event) {
            var contactName = $('#name').val();
            if (contactName == '') {
                alert("Поле з ім'ям не може бути порожнім!");
                return false;
            }
            var contactEmail = $('#email').val();
            if (contactEmail == '') {
                alert("Поле з Email адресою не може бути порожнім!");
                return false;
            }
            var contactMessage = $('#message').val();
            if (contactMessage == '') {
                alert("Поле з повідомленням не може бути порожнім!");
                return false;
            }
            var jqxhr = $.post("/umbraco/api/ContactApi/CreateContactRequest", { "ContactEmail": contactEmail, "ContactMessage": contactMessage, "ContactName": contactName})
                    .done(function() {
                        alert( "Контактна форма відправлена!" );
                    })
                    .fail(function(ex) {
                        alert("Помилка під час надсилання форми, спробуйте пізніше, або зверніться за контактним телефоном!");
                        console.log(ex);
                    });
            event.preventDefault();
        });
</script>