@inherits Umbraco.Web.Mvc.UmbracoViewPage

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="icon" href="~/images/logo/favicon.ico">*@
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    @RenderSection("Seo", false)
</head>
<body class="container">

    @RenderBody()


    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    @RenderSection("ChildScripts", false)
</body>
</html>