@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.SignUpPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}


<!-- Header -->
@Html.Partial("Navigation", Model)
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Main -->
@Model.RichTextEdidor
<section id="main" class="wrapper">
    <div id="form-main">
        <div id="form-div">
            <form class="form" action="" method="post" id="form" name="form">

                <p>
                    <select class="category" id="type" onChange="TypeChange()">
                        <option value="type_0">--Ким ви бажаєте стати--</option>
                        <option value="type_1">Лікар резерву</option>
                        <option value="type_2">Волонтер</option>
                        <option value="type_3">Постачальник</option>
                        <option value="type_4">Благодійник</option>
                    </select>
                </p>

                <p id="name">
                    <input name="PersonName" type="text" class="feedback-input" placeholder="Прізвище Ім'я Побатькові" />
                </p>

                <p id="phone">
                    <input name="Phone" type="text" class="feedback-input" placeholder="Номер телефону" />
                </p>

                <p id="email">
                    <input name="Email" type="text" class="feedback-input" placeholder="Ваш Email" />
                </p>

                <p id="age">
                    <input name="Age" type="text" class="feedback-input" placeholder="Ваш вік" />
                </p>

                <p id="address">
                    <input name="HomeAddress" type="text" class="feedback-input" placeholder="Домашня адреса" />
                </p>

                <p id="description">
                    <textarea id="description" name="Description" class="feedback-input" placeholder="Чим ви готові займатись"></textarea>
                </p>

                <button class="form-button" data-toggle="modal" data-target="#exampleModal"><span class="text-button">Відправити заявку</span></button>

            </form>
        </div>
    </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section ChildScripts
{
    <script src="~/assets/js/signUp.js"></script>
}