<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cc5fe9bb-8fad-4d53-b2fa-0c1ab4f6f9d4" Alias="benefactor" Level="2">
  <Info>
    <Name>Benefactor</Name>
    <Icon>icon-smiley-inverted color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Persons</Folder>
    <Compositions>
      <Composition Key="eb7a8a49-affe-4a68-ab9b-56c938d4056d">person</Composition>
    </Compositions>
    <DefaultTemplate>Benefactor</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="bc62f83f-f7f7-477d-bea7-31924a8e2414">Benefactor</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d99e0567-73dd-4947-9a86-511f7c883f04</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>afa4092b-4e36-4722-aff4-470de6fb41c1</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f409a8aa-e6f5-490b-84ad-d283bcbf88d6</Key>
      <Name>Email</Name>
      <Alias>email</Alias>
      <Definition>53f8663c-6648-4436-ab70-e7d05d1a2fcc</Definition>
      <Type>Umbraco.EmailAddress</Type>
      <Mandatory>false</Mandatory>
      <Validation>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Info</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>