<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="63a92ae6-572b-44f9-a19f-c59b73bf6313" Alias="contacts" Level="1">
  <Info>
    <Name>Contacts</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>contacts</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="84d3125c-6a08-49af-87db-6451da46c24b">contacts</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>09b9a1b1-b956-4083-8109-8a045fd53782</Key>
      <Name>ContactName</Name>
      <Alias>ContactName</Alias>
      <Definition>ec6d55e1-0d0b-4ad6-9b8d-33f874478b45</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dc251c28-08c8-4e5b-8535-9eb2a19ced43</Key>
      <Name>Email</Name>
      <Alias>email</Alias>
      <Definition>2dbb87a2-244a-41d5-abad-6c6bb159dfcc</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>62f0e97b-10bc-4133-96ac-75d9141c6891</Key>
      <Name>Message</Name>
      <Alias>message</Alias>
      <Definition>a73d6773-6e8e-4542-8905-9e54219cb978</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Info</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>