<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4f35692e-2357-48af-a9f7-eed7c46466ce" Alias="contactPage" Level="2">
  <Info>
    <Name>ContactPage</Name>
    <Icon>icon-pin-location color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e76de5b7-65e2-4626-bc78-3a8d8bf399fc">page</Composition>
    </Compositions>
    <DefaultTemplate>contacts</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="84d3125c-6a08-49af-87db-6451da46c24b">contacts</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>24ab146e-07d7-4d2f-81db-627013a34acb</Key>
      <Name>RTEContent</Name>
      <Alias>rTEContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>