<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4136e3b1-9dfe-415c-bb3b-35cd6a3ec334" Alias="extraDoctor" Level="2">
  <Info>
    <Name>ExtraDoctor</Name>
    <Icon>icon-medical-emergency color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Persons</Folder>
    <Compositions>
      <Composition Key="eb7a8a49-affe-4a68-ab9b-56c938d4056d">person</Composition>
    </Compositions>
    <DefaultTemplate>ExtraDoctor</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c1a36c5c-9571-485a-b988-ff4861e78ce8">ExtraDoctor</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>13ce4364-61b6-4fc7-93b9-946c94d9de30</Key>
      <Name>Address</Name>
      <Alias>address</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>340db961-8935-432f-8fdd-b3f865d36a04</Key>
      <Name>Age</Name>
      <Alias>age</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fc528d37-5d65-409e-8396-28938314c062</Key>
      <Name>Medical Specialization</Name>
      <Alias>medicalSpecialization</Alias>
      <Definition>bdd1e718-27a5-4130-94eb-249087cb81f5</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Info</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>