<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="edcd8ac3-693e-41ac-af9d-59206e7a1176" Alias="people" Level="1">
  <Info>
    <Name>People</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>People</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1d755b6e-47ca-4134-96e3-c7788e969841">People</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="eb7a8a49-affe-4a68-ab9b-56c938d4056d" SortOrder="1">person</ContentType>
    <ContentType Key="8b54f60c-a5f9-4c99-a3c0-f1070f221c48" SortOrder="3">supplier</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>