<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="beb15df8-3ddb-48e6-b85b-098c74a2da40" Alias="registeredPeople" Level="1">
  <Info>
    <Name>RegisteredPeople</Name>
    <Icon>icon-user-females color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>RegisteredPeople</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="da947480-5f72-497e-acb7-0f2407009a0f">RegisteredPeople</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8b54f60c-a5f9-4c99-a3c0-f1070f221c48" SortOrder="3">supplier</ContentType>
    <ContentType Key="de4ee4b3-2870-4137-896b-9657408b57ec" SortOrder="4">volunteer</ContentType>
    <ContentType Key="4136e3b1-9dfe-415c-bb3b-35cd6a3ec334" SortOrder="2">extraDoctor</ContentType>
    <ContentType Key="cc5fe9bb-8fad-4d53-b2fa-0c1ab4f6f9d4" SortOrder="1">benefactor</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>