<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c46b47f5-1a4c-49e3-80ce-173c4cafae5b" Alias="signUpPage" Level="2">
  <Info>
    <Name>SignUpPage</Name>
    <Icon>icon-checkbox color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="e76de5b7-65e2-4626-bc78-3a8d8bf399fc">page</Composition>
    </Compositions>
    <DefaultTemplate>SignUpPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d821db84-2bbf-47ec-96ea-40dec10397cc">SignUpPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>22523cc8-bbb7-4698-b904-0d2baa1c4b5e</Key>
      <Name>RichTextEdidor</Name>
      <Alias>richTextEdidor</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>