<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8b54f60c-a5f9-4c99-a3c0-f1070f221c48" Alias="supplier" Level="1">
  <Info>
    <Name>Supplier</Name>
    <Icon>icon-colorpicker color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="eb7a8a49-affe-4a68-ab9b-56c938d4056d">person</Composition>
    </Compositions>
    <DefaultTemplate>Supplier</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1e2522ce-16da-4a78-977e-fde4d552e533">Supplier</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>