<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8b54f60c-a5f9-4c99-a3c0-f1070f221c48" Alias="supplier" Level="2">
  <Info>
    <Name>Supplier</Name>
    <Icon>icon-colorpicker color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Persons</Folder>
    <Compositions>
      <Composition Key="eb7a8a49-affe-4a68-ab9b-56c938d4056d">person</Composition>
    </Compositions>
    <DefaultTemplate>Supplier</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1e2522ce-16da-4a78-977e-fde4d552e533">Supplier</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ea91804f-0cca-4daf-8b3c-4c3480b56277</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>53f9f1c9-fe2c-4495-8aec-a4012f634173</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6bf1d6b3-3ecb-436b-b0e3-ea0fa74744a5</Key>
      <Name>Email</Name>
      <Alias>email</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation>[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+</Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Info</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>