<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="de4ee4b3-2870-4137-896b-9657408b57ec" Alias="volunteer" Level="2">
  <Info>
    <Name>Volunteer</Name>
    <Icon>icon-male-and-female color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Persons</Folder>
    <Compositions>
      <Composition Key="eb7a8a49-affe-4a68-ab9b-56c938d4056d">person</Composition>
    </Compositions>
    <DefaultTemplate>Volunteer</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9766fa48-d8ad-47dd-8aef-780935f7c51c">Volunteer</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b06c8e23-4f46-45fa-8289-c850c58b7f46</Key>
      <Name>Age</Name>
      <Alias>age</Alias>
      <Definition>3d30066e-7fc9-4e70-af82-abf19ac20c3e</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>de15c508-8bc8-4e75-820d-ac244457994e</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>5d95f0e0-1ce7-4cc8-a8c4-6532c1bf827f</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[What are you ready to do]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7d6f9d3b-5d51-4072-9101-b85d56df39f0</Key>
      <Name>Home address</Name>
      <Alias>homeAddress</Alias>
      <Definition>b13ae7d6-ba17-4363-aaf5-b4c5048938bc</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Info</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>